<br/><br/>
<div class="row">
    <div class="col-sm-5 pull-left" data-ng-controller="IncexpsController as incexpsCtrl">
        <highchart id="heatMapChart" config="incomeHeatMapChartConfig">
        </highchart>
    </div>
    <div class="col-sm-2" data-ng-controller="IncexpsController as incexpsCtrl">
        <highchart id="heatMapChart" config="incomeHeatMapChartConfig">
        </highchart>
    </div>
    <div class="col-sm-5 pull-right" data-ng-controller="IncexpsController as incexpsCtrl">
        <highchart id="heatMapChart" config="expenseHeatMapChartConfig">
        </highchart>
    </div>
</div>
