<br/><br/>
<div class="panel panel-default" data-ng-controller="IncexpsController as incexpsCtrl">
    <div class="panel-heading">
        <h3 class="panel-title">
            Panel title
            <span class="fa fa-arrow-circle-o-right icon-btn pull-right"
                  data-ng-hide="(parseInt($stateParams.month) === parseInt(now.getMonth()+1)) && (parseInt($stateParams.year) === parseInt(now.getFullYear()))"
                  data-ng-click="incexpsCtrl.showNextMonth()"></span>
            <span class="fa fa-arrow-circle-o-left icon-btn pull-right"
                  data-ng-hide="(parseInt($stateParams.month) === parseInt(now.getMonth()+1)) && (parseInt($stateParams.year) === parseInt(now.getFullYear()-1))"
                  data-ng-click="incexpsCtrl.showPrevMonth()"></span>
            <span class="pull-right">{{$stateParams.month + '  ' + $stateParams.year}}</span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 pull-left" >
                <highchart id="heatMapChart" config="incomeHeatMapChartConfig">
                </highchart>
            </div>
            <div class="col-sm-6 pull-right">
                <highchart id="heatMapChart" config="expenseHeatMapChartConfig">
                </highchart>
            </div>
        </div>
    </div>
</div>
