<section data-ng-controller="IncexpsController as incexpsCtrl">
    <div class="modal-header">
        <h3 class="modal-title">New {{incexpsCtrl.labelsObj['app.incexps.lbl.incexp']}}</h3>
    </div>


    <div class="modal-body">
        <form name="createIncexpForm">
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group-sm">
                            <label class="control-label" for="displayName"> {{incexpsCtrl.labelsObj['app.incexps.lbl.name']}}</label>
                            <div class="controls">
                                <input type="text" data-ng-model="incexpsCtrl.displayName" id="displayName" name="displayName"
                                	placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.name']}}" class="form-control" 
                                	data-ng-minlength="6" data-ng-maxlength="50" required/>
	                            <div data-ng-if="createIncexpForm.displayName.$invalid && createIncexpForm.displayName.$dirty"
	                                 data-data-ng-messages="createIncexpForm.displayName.$error">
	                                <span data-ng-if="createIncexpForm.displayName.$error.required"
	                                      class="label label-warning" data-ng-message="required">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.inputIncexpName')}}
	                                </span>
	                                <span data-ng-if="createIncexpForm.displayName.$error.minlength || createIncexpForm.displayName.$error.maxlength"
	                                      class="label label-warning" data-ng-message="minlength, maxlength">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.minMaxLengthIncexpName')}}
	                                </span>
	                            </div>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="description"> {{incexpsCtrl.labelsObj['app.incexps.lbl.description']}}</label>
                            <div class="controls">
                                <input type="text" data-ng-model="incexpsCtrl.description" id="description" name="description"  
                                		placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.description']}}" class="form-control" 
                                		data-ng-minlength="6" data-ng-maxlength="100"  required/>
	                            <div data-ng-if="createIncexpForm.description.$invalid && createIncexpForm.description.$dirty"
	                                 data-data-ng-messages="createIncexpForm.description.$error">
	                                <span data-ng-if="createIncexpForm.description.$error.required"
	                                      class="label label-warning" data-ng-message="required">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.inputIncexpDesc')}}
	                                </span>
	                                <span data-ng-if="createIncexpForm.description.$error.minlength || createIncexpForm.description.$error.maxlength"
	                                      class="label label-warning" data-ng-message="minlength, maxlength">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.minMaxLengthIncexpDesc')}}
	                                </span>
	                            </div>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="type"> {{incexpsCtrl.labelsObj['app.incexps.lbl.type']}}</label>
                            <div class="controls">
                                <select data-ng-model="incexpsCtrl.type" id="type" class="form-control" name="type"
                                        data-ng-options="incexpType.id as incexpType.label for incexpType in incexpsCtrl.incexpTypes" required>
                                    <option value="">{{incexpsCtrl.labelsObj['app.incexps.ph.type']}}</option>
                                </select>
                                <div data-ng-if="createIncexpForm.type.$invalid && createIncexpForm.type.$dirty"
                                     data-data-ng-messages="createIncexpForm.type.$error">
                                    <span data-ng-if="createIncexpForm.type.$error.required"
                                          class="label label-warning" data-ng-message="required">
                                        {{incexpsCtrl.labelsObj['app.incexps.err.msg.selectIncexpType']}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="evDate"> {{incexpsCtrl.labelsObj['app.incexps.lbl.date']}}</label>
                            <div class="controls">
                                <p class="input-group" style="margin-bottom: 0px !important;">
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm" data-ng-click="incexpsCtrl.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                    <input readonly="readonly" name="evDate" type="text" id="evDate" class="form-control" data-datepicker-popup="{{'dd-MMMM-yyyy'}}" data-ng-model="incexpsCtrl.evDate"
                                           data-is-open="datePickerOpened" data-min-date="minDate" data-max-date="maxDate"
                                           placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.date']}}" 
                                           data-current-text="{{incexpsCtrl.labelsObj['app.incexps.lbl.today']}}"
                                           data-clear-text="{{incexpsCtrl.labelsObj['app.incexps.lbl.clear']}}"
                                           data-close-text="{{incexpsCtrl.labelsObj['app.incexps.lbl.close']}}" required/>
                                    <div data-ng-if="createIncexpForm.evDate.$invalid && createIncexpForm.evDate.$dirty"
                                         data-data-ng-messages="createIncexpForm.evDate.$error">
                                        <span data-ng-if="createIncexpForm.evDate.$error.required"
                                              class="label label-warning" data-ng-message="required">
                                            {{incexpsCtrl.labelsObj['app.incexps.err.msg.selectDate']}}
                                        </span>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="amount"> {{incexpsCtrl.labelsObj['app.incexps.lbl.amount']}}</label>
                            <div class="controls">
                                <input type="number" data-ng-model="incexpsCtrl.amount" id="amount" name="amount"  
                                	min="1" max="500000"
                                	placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.amount']}}" class="form-control" required/>
	                            <div data-ng-if="createIncexpForm.amount.$invalid && createIncexpForm.amount.$dirty"
	                                 data-data-ng-messages="createIncexpForm.amount.$error">
	                                <span data-ng-if="createIncexpForm.amount.$error.required"
	                                      class="label label-warning" data-ng-message="required">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.inputAmount')}}
	                                </span>
	                                <span data-ng-if="createIncexpForm.amount.$error.min || createIncexpForm.amount.$error.max"
	                                      class="label label-warning" data-ng-message="min, max">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.minMaxValueAmount')}}
	                                </span>
	                            </div>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="vault"> {{incexpsCtrl.labelsObj['app.incexps.lbl.vault']}}</label>
                            <div class="controls">
                                <select data-ng-model="incexpsCtrl.vault" id="vault" class="form-control" name="vault" 
                                        data-ng-options="eachVault._id as eachVault.displayName for eachVault in incexpsCtrl.vaultsResult" required>
                                    <option value="">{{incexpsCtrl.labelsObj['app.incexps.ph.vault']}}</option>
                                </select>
                                <div data-ng-if="createIncexpForm.vault.$invalid && createIncexpForm.vault.$dirty"
                                     data-data-ng-messages="createIncexpForm.vault.$error">
                                    <span data-ng-if="createIncexpForm.vault.$error.required"
                                          class="label label-warning" data-ng-message="required">
                                        {{incexpsCtrl.labelsObj['app.incexps.err.msg.selectIncexpVault']}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label"> {{incexpsCtrl.labelsObj['app.incexps.lbl.tags']}}</label>
                            <div class="controls">
                                <tags-input ng-model="incexpsCtrl.tags" class="ti-input-sm" 
                                                display-property="label" 
								                placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.tags']}}" 
								                replace-spaces-with-dashes="false"
								                template="modules/incexps/templates/incexp-tag-input-template.client.html">
	                                <auto-complete source="incexpsCtrl.incexpTags"
					                     min-length="0"
					                     load-on-focus="true"
					                     load-on-empty="true"
					                     max-results-to-show="32"
					                     template="modules/incexps/templates/incexp-tag-auto-complete-input-template.client.html"></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <incexp-approval name="approval"
                                    data-label="incexpsCtrl.labelsObj['app.incexps.lbl.reqVerification']"
                                    data-pending-type-default-label="incexpsCtrl.labelsObj['app.incexps.ph.pendingType']"
                                    data-select-user-placeholder="incexpsCtrl.labelsObj['app.incexps.ph.selectUser']"
                                    data-pending-msg-placeholder="incexpsCtrl.labelsObj['app.incexps.ph.appMsg']"
                                    data-approval-types="incexpsCtrl.approvalTypes"
                                    data-ng-model="incexpsCtrl.approvalModel">
                            </incexp-approval>
                            <div data-ng-if="createIncexpForm.approval.$invalid && createIncexpForm.approval.$dirty"
                                 data-data-ng-messages="createIncexpForm.approval.$error">
                                <span data-ng-if="createIncexpForm.approval.$error.pendingTypeRequired"
                                      class="label label-warning" data-ng-message="pendingTypeRequired">
                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.pendingTypeRequired')}}
                                </span>
                                <span data-ng-if="createIncexpForm.approval.$error.pendingWithRequired"
                                      class="label label-warning" data-ng-message="pendingWithRequired">
                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.pendingWithRequired')}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


    <div class="modal-footer">
        <button class="btn btn-success btn-sm"
                data-ng-disabled="createIncexpForm.$invalid"
                ng-click="incexpsCtrl.saveIncexp()" >{{incexpsCtrl.getLabel('app.incexps.lbl.createIncexp')}}</button>
        <button class="btn btn-warning btn-sm" data-ng-click="incexpsCtrl.cancel()">{{incexpsCtrl.getLabel('app.incexps.lbl.cancel')}}</button>
    </div>
</section>

