<section data-ng-controller="IncexpsController as incexpsCtrl">
    <div class="modal-header">
        <h3 class="modal-title">New {{incexpsCtrl.labelsObj['app.incexps.lbl.incexp']}}</h3>
    </div>


    <div class="modal-body">
        <form name="createIncexpForm">
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group-sm">
                            <label class="control-label" for="displayName"> {{incexpsCtrl.labelsObj['app.incexps.lbl.name']}}</label>
                            <div class="controls">
                                <input type="text" data-ng-model="incexpsCtrl.displayName" id="displayName" name="displayName" 
                                	placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.name']}}" class="form-control" 
                                	data-ng-minlength="8" data-ng-maxlength="20" required/>
	                            <div data-ng-if="createIncexpForm.displayName.$invalid && createIncexpForm.displayName.$dirty"
	                                 data-data-ng-messages="createIncexpForm.displayName.$error">
	                                <span data-ng-if="createIncexpForm.displayName.$error.required"
	                                      class="label label-warning" data-ng-message="required">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.inputIncexpName')}}
	                                </span>
	                                <span data-ng-if="createIncexpForm.displayName.$error.minlength || createIncexpForm.displayName.$error.maxlength"
	                                      class="label label-warning" data-ng-message="minlength, maxlength">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.minMaxLengthIncexpName')}}
	                                </span>
	                            </div>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="description"> {{incexpsCtrl.labelsObj['app.incexps.lbl.description']}}</label>
                            <div class="controls">
                                <input type="text" data-ng-model="incexpsCtrl.description" id="description" name="description"  
                                		placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.description']}}" class="form-control" 
                                		data-ng-minlength="12" data-ng-maxlength="50"  required/>
	                            <div data-ng-if="createIncexpForm.description.$invalid && createIncexpForm.description.$dirty"
	                                 data-data-ng-messages="createIncexpForm.description.$error">
	                                <span data-ng-if="createIncexpForm.description.$error.required"
	                                      class="label label-warning" data-ng-message="required">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.inputIncexpDesc')}}
	                                </span>
	                                <span data-ng-if="createIncexpForm.description.$error.minlength || createIncexpForm.description.$error.maxlength"
	                                      class="label label-warning" data-ng-message="minlength, maxlength">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.minMaxLengthIncexpDesc')}}
	                                </span>
	                            </div>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="type"> {{incexpsCtrl.labelsObj['app.incexps.lbl.type']}}</label>
                            <div class="controls">
                                <select data-ng-model="incexpsCtrl.type" id="type" class="form-control"
                                        data-ng-options="incexpType.id as incexpType.label for incexpType in incexpsCtrl.getIncexpType()">
                                    <option value="" disabled>{{incexpsCtrl.labelsObj['app.incexps.ph.type']}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="evDate"> {{incexpsCtrl.labelsObj['app.incexps.lbl.date']}}</label>
                            <div class="controls">
                                <p class="input-group">
                                    <input readonly="readonly" type="text" id="evDate" class="form-control" data-datepicker-popup="{{'dd-MMMM-yyyy'}}" data-ng-model="incexpsCtrl.evDate"
                                           data-is-open="datePickerOpened" data-min-date="2011-06-22" data-max-date="'2015-06-22'"
                                           placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.date']}}" 
                                           data-current-text="..Tonight" data-clear-text="..Reset" data-close-text="..Exit" />
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm" data-ng-click="incexpsCtrl.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="amount"> {{incexpsCtrl.labelsObj['app.incexps.lbl.amount']}}</label>
                            <div class="controls">
                                <input type="number" data-ng-model="incexpsCtrl.amount" id="amount" 
                                	placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.amount']}}" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="vault"> {{incexpsCtrl.labelsObj['app.incexps.lbl.vault']}}</label>
                            <div class="controls">
                                <select data-ng-model="incexpsCtrl.vault" id="vault" class="form-control"
                                        data-ng-options="eachVault._id as eachVault.displayName for eachVault in incexpsCtrl.vaultsResult">
                                    <option value="" disabled>{{incexpsCtrl.labelsObj['app.incexps.ph.vault']}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="tags"> {{incexpsCtrl.labelsObj['app.incexps.lbl.tags']}}</label>
                            <div class="controls">
                                <tags-input ng-model="incexpsCtrl.tags" class="ti-input-sm" 
                                                display-property="label" 
								                placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.tags']}}" 
								                replace-spaces-with-dashes="false"
								                template="modules/incexps/templates/incexp-tag-input-template.client.html">
	                                <auto-complete source="incexpsCtrl.incexpStatics.getTagsList()"
					                     min-length="0"
					                     load-on-focus="true"
					                     load-on-empty="true"
					                     max-results-to-show="32"
					                     template="modules/incexps/templates/incexp-tag-auto-complete-input-template.client.html"></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="control-label" for="isPending"> {{incexpsCtrl.labelsObj['app.incexps.lbl.reqVerification']}}</label>
                            <div class="controls">
                                <!--TODO - apply proper styling-->
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <input class="form-control-md" type="checkbox" 
                                    	   data-ng-disabled="incexpsCtrl.applyDisableForPendingCheckbox()"
                                    	   placeholder="{{'s' + incexpsCtrl.labelsObj['app.incexps.lbl.incexp']}}"
                                           data-ng-model="incexpsCtrl.isPending" id="isPending"/>
                                  </span>
                                  <span class="input-group-btn">
                                    <select data-ng-model="incexpsCtrl.pendingType" id="pendingType" class="form-control"
                                            data-ng-options="approvalType.id as approvalType.label for approvalType in incexpsCtrl.getApprovalTypes()" 
                                            data-ng-disabled="incexpsCtrl.applyDisablePendingFields(incexpsCtrl.isPending)">
                                        <option value="" disabled>-- Choose Approval Type --</option>
                                    </select>
                                  </span>
                                  <span class="input-group-btn">
                                    <select-users user="incexpsCtrl.pendingWith" 
                                    	data-ng-disabled="incexpsCtrl.applyDisablePendingFields(incexpsCtrl.isPending)"></select-users>
                                  </span>
                                </div>
								<br/>
                                <textarea placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.appMsg']}}" class="form-control" 
                                	data-ng-disabled="incexpsCtrl.applyDisablePendingFields(incexpsCtrl.isPending)" 
                                	data-ng-model="incexpsCtrl.pendingMsg" 
                                	id="pendingMsg" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>


    <div class="modal-footer">
        <!--<button class="btn btn-success btn-sm" ng-click="incexpsCtrl.saveIncexp()" ng-disabled="createIncexpForm.$invalid">Save & Close</button>-->
        <button class="btn btn-success btn-sm" ng-click="incexpsCtrl.saveIncexp()" >Save & Close</button>
         <!-- ng-disabled="createCustomerForm.$invalid -->
        <button class="btn btn-warning btn-sm" data-ng-click="cancel()">Cancel</button>
    </div>
</section>

