<section data-ng-controller="IncexpsController as incexpsCtrl" data-ng-init="incexpsCtrl.findOne()">
    <div class="page-header">
        <h3>Update: {{incexp.displayName}}</h3>
    </div>
    <form name=editIncExpForm>
        <fieldset>
            <div class="row">
                <div class="form-group-xs">
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group-sm">
                        <label class="control-label" for="displayName"> Display Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="incexp.displayName" id="displayName" class="form-control" required="true">
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="description"> Description</label>
                        <div class="controls">
                            <input type="text" data-ng-model="incexp.description" id="description" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="type"> Type</label>
                        <div class="controls">
                            <select data-ng-model="incexp.type" id="type" class="form-control"
                                    ng-options="incexpType.id as incexpType.label for incexpType in incexpsCtrl.getIncexpType()">
                                <option value="" disabled>-- Choose Approval Type --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="evDate"> Date</label>
                        <div class="controls">
                            <p class="input-group">
                                <input type="text" id="evDate" class="form-control" datepicker-popup="{{'dd-MMMM-yyyy'}}" ng-model="incexp.evDate"
                                       is-open="datePickerOpened" min-date="2011-06-22" max-date="'2015-06-22'"
                                       close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm" ng-click="incexpsCtrl.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="amount"> Amount</label>
                        <div class="controls">
                            <input type="number" data-ng-model="incexp.amount" id="amount" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="vault"> Vault</label>
                        <div class="controls">
                            <select data-ng-model="incexp.vault" id="vault" class="form-control"
                                    data-ng-options="eachVault._id as eachVault.displayName for eachVault in incexpsCtrl.vaultsResult">
                                <option value="" disabled>-- Choose Vault --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="tags"> Tags</label>
                        <div class="controls">
                            <input type="text" data-ng-model="incexp.tags" id="tags" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="isPending"> Require Approval ? </label>
                        <div class="controls">
                            <!--TODO - apply proper styling-->
                            <div class="input-group">
                              <span class="input-group-addon">
                                <input class="form-control-md" type="checkbox" 
                                		data-ng-disabled="incexpsCtrl.applyDisableForPendingCheckbox(incexp)" 
                                       data-ng-model="incexp.isPending" id="isPending"/>
                              </span>
                              <span class="input-group-btn">
                                <select data-ng-model="incexp.pendingType" id="pendingType" class="form-control"
                                        ng-options="approvalType.id as approvalType.label for approvalType in incexpsCtrl.getApprovalTypes()" 
                                        data-ng-disabled="incexpsCtrl.applyDisablePendingFields(incexp.isPending, incexp)">
                                    <option value="" disabled>-- Choose Approval Type --</option>
                                </select>
                              </span>
                              <span class="input-group-btn">
                                <select-users user="incexp.pendingWith" 
                                	data-ng-disabled="incexpsCtrl.applyDisablePendingFields(incexp.isPending, incexp)"></select-users>
                              </span>
                            </div>
								<br/>
                            <textarea placeholder="Type your message here...." class="form-control" 
                            				data-ng-disabled="incexpsCtrl.applyDisablePendingFields(incexp.isPending, incexp)"
                            				data-ng-model="incexp.pendingMsg" 
                            				id="pendingMsg" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <button class="btn btn-success btn-sm" ng-click="incexpsCtrl.updateIncexp(incexp)">Update & Close</button>
        <!-- ng-disabled="editIncExpForm.$invalid -->
        <button class="btn btn-warning btn-sm" ng-click="cancel()">Cancel</button>
    </div>
</section>
