<section data-ng-controller="IncexpsController as incexpsCtrl">
    <div class="page-header">
        <h3 class="modal-title">{{incexpsCtrl.getLabel('app.incexps.lbl.update')}} {{incexp.displayName}}</h3>
    </div>
    <form name=editIncExpForm>
        <fieldset>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group-sm">
                        <label class="control-label" for="displayName"> {{incexpsCtrl.labelsObj['app.incexps.lbl.name']}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="incexp.displayName" id="displayName" name="displayName"
                                   placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.name']}}" class="form-control"
                                   data-ng-minlength="8" data-ng-maxlength="20" required/>
                            <div data-ng-if="editIncExpForm.displayName.$invalid && editIncExpForm.displayName.$dirty"
                                 data-data-ng-messages="createIncexpForm.displayName.$error">
	                                <span data-ng-if="editIncExpForm.displayName.$error.required"
                                          class="label label-warning" data-ng-message="required">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.inputIncexpName')}}
	                                </span>
	                                <span data-ng-if="editIncExpForm.displayName.$error.minlength || editIncExpForm.displayName.$error.maxlength"
                                          class="label label-warning" data-ng-message="minlength, maxlength">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.minMaxLengthIncexpName')}}
	                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="description"> {{incexpsCtrl.labelsObj['app.incexps.lbl.description']}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="incexp.description" id="description" name="description"
                                   placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.description']}}" class="form-control"
                                   data-ng-minlength="12" data-ng-maxlength="50"  required/>
                            <div data-ng-if="editIncExpForm.description.$invalid && editIncExpForm.description.$dirty"
                                 data-data-ng-messages="createIncexpForm.description.$error">
	                                <span data-ng-if="editIncExpForm.description.$error.required"
                                          class="label label-warning" data-ng-message="required">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.inputIncexpDesc')}}
	                                </span>
	                                <span data-ng-if="editIncExpForm.description.$error.minlength || editIncExpForm.description.$error.maxlength"
                                          class="label label-warning" data-ng-message="minlength, maxlength">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.minMaxLengthIncexpDesc')}}
	                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="type"> {{incexpsCtrl.labelsObj['app.incexps.lbl.type']}}</label>
                        <div class="controls">
                            <select data-ng-model="incexp.type" id="type" class="form-control" name="type"
                                    data-ng-options="incexpType.id as incexpType.label for incexpType in incexpsCtrl.incexpTypes" required>
                                <option value="">{{incexpsCtrl.labelsObj['app.incexps.ph.type']}}</option>
                            </select>
                            <div data-ng-if="editIncExpForm.type.$invalid && editIncExpForm.type.$dirty"
                                 data-data-ng-messages="createIncexpForm.type.$error">
                                    <span data-ng-if="editIncExpForm.type.$error.required"
                                          class="label label-warning" data-ng-message="required">
                                        {{incexpsCtrl.labelsObj['app.incexps.err.msg.selectIncexpType']}}
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="evDate"> {{incexpsCtrl.labelsObj['app.incexps.lbl.date']}}</label>
                        <div class="controls">
                            <p class="input-group">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-sm" data-ng-click="incexpsCtrl.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                <input readonly="readonly" name="evDate" type="text" id="evDate" class="form-control"
                                       data-datepicker-popup="{{'dd-MMMM-yyyy'}}" data-ng-model="incexp.evDate"
                                       data-is-open="datePickerOpened" data-min-date="minDate" data-max-date="maxDate"
                                       placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.date']}}"
                                       data-current-text="{{incexpsCtrl.labelsObj['app.incexps.lbl.today']}}"
                                       data-clear-text="{{incexpsCtrl.labelsObj['app.incexps.lbl.clear']}}"
                                       data-close-text="{{incexpsCtrl.labelsObj['app.incexps.lbl.close']}}" required/>
                                <div data-ng-if="editIncExpForm.evDate.$invalid && editIncExpForm.evDate.$dirty"
                                     data-data-ng-messages="createIncexpForm.evDate.$error">
                                    <span data-ng-if="editIncExpForm.evDate.$error.required"
                                          class="label label-warning" data-ng-message="required">
                                        {{incexpsCtrl.labelsObj['app.incexps.err.msg.selectDate']}}
                                    </span>
                                </div>

                            </p>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="amount"> {{incexpsCtrl.labelsObj['app.incexps.lbl.amount']}}</label>
                        <div class="controls">
                            <input type="number" data-ng-model="incexp.amount" id="amount" name="amount"
                                   min="1" max="500000"
                                   placeholder="{{incexpsCtrl.labelsObj['app.incexps.ph.amount']}}" class="form-control" required/>
                            <div data-ng-if="editIncExpForm.amount.$invalid && editIncExpForm.amount.$dirty"
                                 data-data-ng-messages="createIncexpForm.amount.$error">
	                                <span data-ng-if="editIncExpForm.amount.$error.required"
                                          class="label label-warning" data-ng-message="required">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.inputAmount')}}
	                                </span>
	                                <span data-ng-if="editIncExpForm.amount.$error.min || editIncExpForm.amount.$error.max"
                                          class="label label-warning" data-ng-message="min, max">
	                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.minMaxValueAmount')}}
	                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" for="vault"> {{incexpsCtrl.labelsObj['app.incexps.lbl.vault']}}</label>
                        <div class="controls">
                            <select data-ng-model="incexp.vault" id="vault" class="form-control" name="vault"
                                    data-ng-options="eachVault._id as eachVault.displayName for eachVault in incexpsCtrl.vaultsResult" required>
                                <option value="">{{incexpsCtrl.labelsObj['app.incexps.ph.vault']}}</option>
                            </select>
                            <div data-ng-if="editIncExpForm.vault.$invalid && editIncExpForm.vault.$dirty"
                                 data-data-ng-messages="createIncexpForm.vault.$error">
                                    <span data-ng-if="editIncExpForm.vault.$error.required"
                                          class="label label-warning" data-ng-message="required">
                                        {{incexpsCtrl.labelsObj['app.incexps.err.msg.selectIncexpVault']}}
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-sm">
                        <label class="control-label" > Tags</label>
                        <div class="controls">
                        <tags-input ng-model="incexp.tags" class="ti-input-sm" 
                                        display-property="label" 
						                placeholder="Add Tags" 
						                replace-spaces-with-dashes="false"
						                template="modules/incexps/templates/incexp-tag-input-template.client.html">
	                         <auto-complete source="incexpsCtrl.incexpTags"
							                  min-length="0"
							                  load-on-focus="true"
							                  load-on-empty="true"
							                  max-results-to-show="32"
							                  template="modules/incexps/templates/incexp-tag-auto-complete-input-template.client.html"></auto-complete>
                        </tags-input>
                        </div>
                    </div>
                    <div class="form-group-sm"
                         data-ng-hide="incexp.isPending && incexp.pendingType === 'UPD_REQ' && incexp.pendingWith._id.toString() === incexpsCtrl.authentication.user._id.toString()">
                        <incexp-approval name="approval"
                                         data-label="incexpsCtrl.labelsObj['app.incexps.lbl.reqVerification']"
                                         data-pending-type-default-label="incexpsCtrl.labelsObj['app.incexps.ph.pendingType']"
                                         data-select-user-placeholder="incexpsCtrl.labelsObj['app.incexps.ph.selectUser']"
                                         data-pending-msg-placeholder="incexpsCtrl.labelsObj['app.incexps.ph.appMsg']"
                                         data-approval-types="incexpsCtrl.approvalTypes"
                                         data-ng-model="incexpsCtrl.approvalModel">
                        </incexp-approval>
                        <div data-ng-if="editIncExpForm.approval.$invalid && editIncExpForm.approval.$dirty"
                             data-data-ng-messages="createIncexpForm.approval.$error">
                                <span data-ng-if="editIncExpForm.approval.$error.pendingTypeRequired"
                                      class="label label-warning" data-ng-message="pendingTypeRequired">
                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.pendingTypeRequired')}}
                                </span>
                                <span data-ng-if="editIncExpForm.approval.$error.pendingWithRequired"
                                      class="label label-warning" data-ng-message="pendingWithRequired">
                                    {{incexpsCtrl.getLabel('app.incexps.err.msg.pendingWithRequired')}}
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <button class="btn btn-success btn-sm"
                data-ng-show="incexp.owner._id.toString() === incexpsCtrl.authentication.user._id.toString()"
                data-ng-click="incexpsCtrl.updateIncexp(incexp)">Update & Close</button>
        <button class="btn btn-success btn-sm"
                data-ng-show="incexp.isPending && incexp.pendingType === 'UPD_REQ' && incexp.pendingWith._id.toString() === incexpsCtrl.authentication.user._id.toString()"
                data-ng-click="incexpsCtrl.approveIncexpChanges(incexp)">Approve Changes</button>
        <!-- ng-disabled="editIncExpForm.$invalid -->
        <button class="btn btn-warning btn-sm" ng-click="incexpsCtrl.cancel()">Cancel</button>
    </div>
</section>
