<section data-ng-controller="IncexpsController as incexpsCtrl">
    <div class="page-header">
        <h1 data-ng-if="incexpsCtrl.trackerIncexps && incexpsCtrl.trackerIncexps.length > 0">
            {{incexpsCtrl.labelsObj['app.incexps.lbl.incexpOf'] + "\"" + incexpsCtrl.trackerIncexps[0].tracker.displayName + "\""}}
        </h1>
        <h1 data-ng-if="incexpsCtrl.trackerIncexps.length === 0">
            {{incexpsCtrl.labelsObj['app.incexps.lbl.noIncexps']}}
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" disabled="true"
                            data-toggle="dropdown" aria-expanded="false">{{incexpsCtrl.labelsObj['app.vaults.lbl.listAllRecords']}} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
                <input type="text" data-ng-model="searchText" class="form-control" placeholder="{{incexpsCtrl.labelsObj['app.incexps.lbl.searchIncexps']}}" novalidate="true">
                <span class="input-group-btn">
		            <button type="button" class="pull-left btn btn-success text-center" data-ng-click="incexpsCtrl.createIncexp()">
                        <i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;{{incexpsCtrl.labelsObj['app.incexps.lbl.newIncexp']}}
                    </button>
                </span>
            </div>
        </div>
    </div>

    <br/>

    <div class="panel panel-default" data-ng-controller="IncexpsController as incexpsCtrl">
        <div class="panel-heading">
            <h3 class="panel-title">
                Panel title
            <span class="fa fa-arrow-circle-o-right icon-btn pull-right"
                  data-ng-hide="(parseInt($stateParams.month) === parseInt(now.getMonth()+1)) && (parseInt($stateParams.year) === parseInt(now.getFullYear()))"
                  data-ng-click="incexpsCtrl.showNextMonth()"></span>
            <span class="fa fa-arrow-circle-o-left icon-btn pull-right"
                  data-ng-hide="(parseInt($stateParams.month) === parseInt(now.getMonth()+1)) && (parseInt($stateParams.year) === parseInt(now.getFullYear()-1))"
                  data-ng-click="incexpsCtrl.showPrevMonth()"></span>
                <span class="pull-right">{{$stateParams.month + '  ' + $stateParams.year}}</span>
            </h3>
        </div>
        <div class="panel-body">
            <incexps-list data-ng-if="incexpsCtrl.trackerIncexps && incexpsCtrl.trackerIncexps.length > 0"></incexps-list>
            <div class="">
                <div class="alert alert-warning text-center" data-ng-hide="!incexpsCtrl.trackerIncexps.$resolved || incexpsCtrl.trackerIncexps.length">
                    <a data-ui-sref="createIncexp($stateParams)">{{incexpsCtrl.labelsObj['app.vaults.lbl.noIncecpYet']}}</a>
                </div>
            </div>
        </div>
    </div>

</section>

