<section data-ng-controller="IncexpsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Incexps</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="incexp in incexps" data-ng-href="#!/incexps/{{incexp._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="incexp.created | date:'medium'"></span>
				by
				<span data-ng-bind="incexp.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="incexp.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!incexps.$resolved || incexps.length">
    	No Incexps yet, why don't you <a href="/#!/incexps/create">create one</a>?
    </div>
</section>