<br/><br/>
<hr/>
<br/>
<section id="mainFooter" class="footer-distributeds">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="footerWidget">
					<img src="http://placehold.it/110X70" alt="" id="footerLogo">
					<p>
						Content for the Footer and 
						<a href="http://placehold.it/110X70">link</a>
					</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="footerWidget">
					<h3>Footer Links</h3>
					Item one
					<br/>
					Item two
				</div>
			</div>
			<div class="col-sm-3">
		<div class="footer-right">

			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>

		</div>
			</div>
		</div>
	</div>
</section>
<section id="footerRights">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Copyright © 2014 <a href="#" target="blank">In Development</a> / All rights reserved.</p>
			</div>
		</div>
	</div>
</section>
