<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
				<!-- <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/Mean_Money_Manager-logo.png" /> -->
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Money Manager Application - @Powered by <a href="http://meanjs.org">MEANJS</a>
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="" target="_blank">Learn more</a>
			</p>
		</div>
	</div>

	<br/><br/>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-2">ICON</div>
				<div class="col-xs-10">Context</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">Content Note</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-2">ICON</div>
				<div class="col-xs-10">Context</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">Content Note</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-2">ICON</div>
				<div class="col-xs-10">Context</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">Content Note</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-2">ICON</div>
				<div class="col-xs-10">Context</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">Content Note</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-2">ICON</div>
				<div class="col-xs-10">Context</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">Content Note</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-2">ICON</div>
				<div class="col-xs-10">Context</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-2">Content Note</div>
			</div>
		</div>
	</div>

</section>