<section data-ng-controller="HomeController">

<div data-ng-if="!hasLogin()">
    <slick class="slider single-item" current-index="index" responsive="breakpoints" slides-to-show=3 slides-to-scroll=3>
        <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"><h3>{{ i }}B</h3></div>
    </slick>
	
</div>
<div data-ng-if="hasLogin()">
    <slick class="slider single-item" current-index="index" responsive="breakpoints" slides-to-show=3 slides-to-scroll=3>
        <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"><h3>{{ i }}B</h3></div>
    </slick>
</div>
</section>
