body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.4;
	color: #222222;
	background-color: #ffffff;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.slick-cont{
	border: 0px solid blue;
	margin-top: 10px;
}
.slick-car-slide{
	border: 0px solid red;
	margin-top: 10px;
	padding: 20px 50px;
}

.slick-dots{
	list-style-type: circle !important;
}
.slick-dots li{
	margin: 0 !important;
}
.slick-dots li button:before{
	font-family: 'FontAwesome';
	font-size: 12px !important;
/* 	content: "\f111"; */
	content: "\f10c";
}

.slick-active button:before{
	content: "\f111" !important;
}



.footer4 #footerRights {
  text-align: left;
  background: #333;
}
#footerRights {
  background-color: #333;
  color: #999;
  border-top: 1px solid #1b1b1b;
}
.footerWidget {
  margin-bottom: 22px;
}
#footerRights {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 22px;
  text-align: center;
  font-size: 10px;
}
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
  margin-top: 80px;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
