body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.4;
	color: #222222;
	background-color: #ffffff;
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.carousal-slide-item{
  	padding: 50px 0px;
}
.cc-item{
	background-image: none !important;
	color: red !important;
}
.carousel-indicators li.cc-item{
	background-color: blue !important;
	border: 1px solid red !important;
}