.extra-space {
	padding-top: 15px;
	padding-bottom: 15px;
}
.no-hor-padding{
	padding-right: 0 !important;
  	padding-left: 0 !important;
}
.pad-left{
	padding-left: 15px;
}
.margin-left{
	margin-left: 5px;
}
.pad-top{
	padding-top: 15px;
}
.badge-warn{
	background-color: #B22A27;
	color: #FFF;
}
.badge-info{
	background-color: #31B0D5;
	color: #FFF;
}
