.extra-space {
	padding-top: 15px;
	padding-bottom: 15px;
}
.no-hor-padding{
	padding-right: 0 !important;
  	padding-left: 0 !important;
}
.pad-left{
	padding-left: 15px;
}
.margin-left{
	margin-left: 5px;
}
.pad-top{
	padding-top: 15px;
}
.badge-warn{
	background-color: #B22A27;
	color: #FFF;
}
.badge-info{
	background-color: #31B0D5;
	color: #FFF;
}

.tracker-list-item-info:hover{
	border-color: #ccc;
	border-color: rgba(82,168,236,.8);
	/*outline: 0;*/
	/*outline: thin dotted \9;*/
	-webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
	box-shadow: 0 0 8px rgba(82,168,236,.6);
	cursor: pointer;
}

.tracker-list-item-danger:hover{
	border-color: #ccc;
	border-color: rgba(236, 39, 32, 0.8);
	/*outline: 0;*/
	/*outline: thin dotted \9;*/
	-webkit-box-shadow: 0 0 8px rgba(236, 39, 32, .6);
	-moz-box-shadow: 0 0 8px rgba(236, 39, 32, .6);
	box-shadow: 0 0 8px rgba(236, 39, 32, .6);
	cursor: pointer;
}
