<div class="controls">
    <div class="input-group">
        <input type="text" ng-model="currentUser" placeholder="Type to see users"
            typeahead="user as user.displayName for user in queryUsers($viewValue)"
            typeahead-loading="loadingUsers" class="form-control"/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-ng-click="assignNewUser(currentUser)">Add User</button>
        </span>
        <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>
    </div>
    <br/>
    <ul class="list-group">
        <li class="list-group-item list-group-item-info"
            data-ng-class="user._id === authentication.user._id ? 'list-group-item-danger' : 'list-group-item-info'"
            data-ng-repeat="user in assignedUsers">
            <strong data-ng-show="user._id === authentication.user._id">Owner : </strong>
            {{user.displayName}} ({{user.email}})
            <button class="btn btn-danger btn-xs glyphicon glyphicon-remove pull-right"
                data-ng-hide="user._id === authentication.user._id">
            </button>
        </li>
    </ul>
</div>

