<section data-ng-controller="TrackersController as trackersCtrl">
    <div class="page-header">
        <h3>{{trackersCtrl.getLabel('app.trackers.lbl.newTracker')}}</h3>
    </div>
    <form name="createTrackerForm" data-ng-submit="trackersCtrl.saveTracker()" novalidate>
        <fieldset>
            <div class="row">
                <div class="form-group-xs">
                    <div data-ng-show="error" class="text-center text-danger">
                        <div class="alert alert-danger" role="alert">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="displayName"> {{trackersCtrl.getLabel('app.trackers.lbl.trackerName')}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="trackersCtrl.displayName" id="displayName" class="form-control"
                                   placeholder="{{trackersCtrl.getLabel('app.trackers.ph.trackerName')}}" required>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="description"> {{trackersCtrl.getLabel('app.trackers.lbl.trackerDesc')}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="trackersCtrl.description" id="description" class="form-control"
                                   placeholder="{{trackersCtrl.getLabel('app.trackers.ph.trackerDesc')}}" required>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="currency"> {{trackersCtrl.getLabel('app.trackers.lbl.trackerCurrency')}}</label>
                        <div class="controls">
                             <select data-ng-model="trackersCtrl.currency" id="currency" class="form-control" ng-options="currencyItem.id as currencyItem.label for currencyItem in trackersCtrl.getCurrencies()">
                                <option value="" disabled>{{trackersCtrl.getLabel('app.trackers.ph.trackerCurrency')}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label"> {{trackersCtrl.getLabel('app.trackers.lbl.shareTracker')}}</label>
                        <div class="controls">
                            <add-users data-users="trackersCtrl.assignedUsers"
                                       data-btntext="trackersCtrl.getLabel('app.trackers.lbl.addUser')"
                                       data-tt-owner="trackersCtrl.getLabel('app.trackers.tt.trackerOwner')"
                                       data-tt-user="trackersCtrl.getLabel('app.trackers.tt.trackerUser')"
                                       data-owner-txt="trackersCtrl.getLabel('app.trackers.lbl.owner')"
                                       data-placeholder="trackersCtrl.getLabel('app.trackers.ph.addUsers')">

                            </add-users>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <!--<input type="submit" class="btn btn-default pull-right">-->
                <button class="btn btn-success btn-sm pull-right"
                        ng-disabled="createTrackerForm.$invalid">{{trackersCtrl.getLabel('app.trackers.lbl.newTracker')}}</button>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>

</section>
