<section data-ng-controller="TrackersController as trackersCtrl">
    <div class="page-header">
        <h3>{{trackersCtrl.getLabel('app.trackers.lbl.newTracker')}}</h3>
    </div>
    <form name="createTrackerForm" data-ng-submit="trackersCtrl.saveTracker()" novalidate>
        <fieldset>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="displayName"> {{trackersCtrl.getLabel('app.trackers.lbl.trackerName')}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="trackersCtrl.displayName" name="displayName" id="displayName" class="form-control"
                                   placeholder="{{trackersCtrl.getLabel('app.trackers.ph.trackerName')}}"
                                   data-ng-minlength="6" data-ng-maxlength="8" required/>
                            <div ng-if="createTrackerForm.displayName.$invalid && createTrackerForm.displayName.$dirty"
                                 ng-messages="createTrackerForm.displayName.$error">
                                <span ng-if="createTrackerForm.displayName.$error.required"
                                      class="label label-warning" ng-message="required">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.inputTrackerName')}}
                                </span>
                                <span ng-if="createTrackerForm.displayName.$error.minlength || createTrackerForm.displayName.$error.maxlength"
                                      class="label label-warning" ng-message="minlength, maxlength">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.minMaxLengthTrackerName')}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="description"> {{trackersCtrl.getLabel('app.trackers.lbl.trackerDesc')}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="trackersCtrl.description" id="description" class="form-control" name="description"
                                   placeholder="{{trackersCtrl.getLabel('app.trackers.ph.trackerDesc')}}"
                                   data-ng-minlength="6" data-ng-maxlength="8" required>
                            <div ng-if="createTrackerForm.description.$invalid && createTrackerForm.description.$dirty"
                                 ng-messages="createTrackerForm.description.$error">
                                <span ng-if="createTrackerForm.description.$error.required"
                                      class="label label-warning" ng-message="required">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.inputTrackerDesc')}}
                                </span>
                                <span ng-if="createTrackerForm.description.$error.minlength || createTrackerForm.description.$error.maxlength"
                                      class="label label-warning" ng-message="minlength, maxlength">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.minMaxLengthTrackerDesc')}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="currency"> {{trackersCtrl.getLabel('app.trackers.lbl.trackerCurrency')}}</label>
                        <div class="controls">
                             <select data-ng-model="trackersCtrl.currency" id="currency" class="form-control ng-invalid" name="currency"
                                     ng-options="currencyItem.id as currencyItem.label for currencyItem in trackersCtrl.getCurrencies()" required>
                                <option value="">{{trackersCtrl.getLabel('app.trackers.ph.trackerCurrency')}}</option>
                            </select>
                            <div ng-if="createTrackerForm.currency.$invalid && createTrackerForm.currency.$dirty"
                                 ng-messages="createTrackerForm.displayName.$error">
                                <span ng-if="createTrackerForm.currency.$error.required"
                                      class="label label-warning" ng-message="required">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.inputTrackerName')}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label"> {{trackersCtrl.getLabel('app.trackers.lbl.shareTracker')}}</label>
                        <div class="controls">
                            <add-users data-users="trackersCtrl.assignedUsers"
                                       data-btntext="trackersCtrl.getLabel('app.trackers.lbl.addUser')"
                                       data-tt-owner="trackersCtrl.getLabel('app.trackers.tt.trackerOwner')"
                                       data-tt-user="trackersCtrl.getLabel('app.trackers.tt.trackerUser')"
                                       data-owner-txt="trackersCtrl.getLabel('app.trackers.lbl.owner')"
                                       data-placeholder="trackersCtrl.getLabel('app.trackers.ph.addUsers')">
                            </add-users>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <!--<input type="submit" class="btn btn-default pull-right">-->
                <button class="btn btn-success btn-sm pull-right"
                        ng-disabled="createTrackerForm.$invalid">{{trackersCtrl.getLabel('app.trackers.lbl.newTracker')}}</button>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>

</section>
