<section data-ng-controller="TrackersController as trackersCtrl"  data-ng-init="trackersCtrl.findOne()">
    <div class="page-header">
        <h3 class="modal-title">{{trackersCtrl.getLabel('app.trackers.lbl.update')}} {{tracker.displayName}}</h3>
    </div>
    <form name="editTrackerForm">
        <fieldset>

            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label" for="displayName"> {{trackersCtrl.getLabel('app.trackers.lbl.trackerName')}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="tracker.displayName" name="displayName" id="displayName"class="form-control"
                                   placeholder="{{trackersCtrl.getLabel('app.trackers.ph.trackerName')}}"
                                   data-ng-minlength="8" data-ng-maxlength="20" required/>
                            <div data-ng-if="editTrackerForm.displayName.$invalid && editTrackerForm.displayName.$dirty"
                                 data-ng-messages="editTrackerForm.displayName.$error">
                                <span data-ng-if="editTrackerForm.displayName.$error.required"
                                      class="label label-warning" data-ng-message="required">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.inputTrackerName')}}
                                </span>
                                <span data-ng-if="editTrackerForm.displayName.$error.minlength || editTrackerForm.displayName.$error.maxlength"
                                      class="label label-warning" data-ng-message="minlength, maxlength">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.minMaxLengthTrackerName')}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description"> {{trackersCtrl.getLabel('app.trackers.lbl.trackerDesc')}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="tracker.description" name="description" id="description" class="form-control"
                                   placeholder="{{trackersCtrl.getLabel('app.trackers.ph.trackerDesc')}}"
                                   data-ng-minlength="12" data-ng-maxlength="50" required/>
                            <div data-ng-if="editTrackerForm.description.$invalid && editTrackerForm.description.$dirty"
                                 data-ng-messages="editTrackerForm.description.$error">
                                <span data-ng-if="editTrackerForm.description.$error.required"
                                      class="label label-warning" data-ng-message="required">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.inputTrackerDesc')}}
                                </span>
                                <span data-ng-if="editTrackerForm.description.$error.minlength || editTrackerForm.description.$error.maxlength"
                                      class="label label-warning" data-ng-message="minlength, maxlength">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.minMaxLengthTrackerDesc')}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="currency"> {{trackersCtrl.getLabel('app.trackers.lbl.trackerCurrency')}}</label>
                        <div class="controls">
                            <select data-ng-model="tracker.currency" name="currency" id="currency" class="form-control"
                                    data-ng-options="currencyItem.id as currencyItem.label for currencyItem in trackersCtrl.getCurrencies()" required>
                                <option value="">{{trackersCtrl.getLabel('app.trackers.ph.trackerCurrency')}}</option>
                            </select>
                            <div data-ng-if="editTrackerForm.currency.$invalid && editTrackerForm.currency.$dirty"
                                 data-ng-messages="editTrackerForm.displayName.$error">
                                <span data-ng-if="editTrackerForm.currency.$error.required"
                                      class="label label-warning" data-ng-message="required">
                                    {{trackersCtrl.getLabel('app.trackers.err.msg.selectTrackerCurrency')}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> {{trackersCtrl.getLabel('app.trackers.lbl.shareTracker')}}</label>
                        <div class="controls">
                            <add-users data-users="tracker.users"
                                       data-btntext="trackersCtrl.getLabel('app.trackers.lbl.addUser')"
                                       data-tt-owner="trackersCtrl.getLabel('app.trackers.tt.trackerOwner')"
                                       data-tt-user="trackersCtrl.getLabel('app.trackers.tt.trackerUser')"
                                       data-owner-txt="trackersCtrl.getLabel('app.trackers.lbl.owner')"
                                       data-placeholder="trackersCtrl.getLabel('app.trackers.ph.addUsers')">
                            </add-users>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="modal-footer">
        <button class="btn btn-success btn-sm" data-ng-click="trackersCtrl.updateTracker(tracker)"
                data-ng-disabled="editTrackerForm.$invalid">
            {{trackersCtrl.getLabel('app.trackers.lbl.updTracker')}}
        </button>
        <!-- ng-disabled="updateTrackerForm.$invalid -->
        <button class="btn btn-warning btn-sm" data-ng-click="trackersCtrl.cancelTrackerEdit()">{{trackersCtrl.getLabel('app.trackers.lbl.cancel')}}</button>
    </div>
</section>
