<div class="list-group">
	<div class="col-xs-12 pad-top"
		data-ng-repeat="tracker in trackersCtrl.trackers | filter:searchText">
		<a ng-click="" class="list-group-item">
			<div class="row">
				<div class="col-xs-12">
					<strong><h4>
						Tracker : {{tracker.displayName}}
						<span class="pull-right badge badge-warn margin-left">4</span>
						<span class="pull-right badge badge-info margin-left">10</span>
					</h4></strong>
					<small class="text-muted">
						<span data-ng-bind="tracker.description"></span>
					</small>
					<br/>
					<small class="text-muted">
						<strong>Owner : </strong><span data-ng-bind="trackersCtrl.getOwnerTxt(tracker)"></span>
					</small>
					<br/>
					<small class="text-muted">
						<strong>Users : </strong><span data-ng-bind="trackersCtrl.getUsersTxt(tracker)"></span>
					</small>
					<br/>
					<small class="list-group-item-text text-muted">
						<strong>Created On : </strong><span data-ng-bind="trackersCtrl.getLocalTime(tracker.created)"></span>
						<span class="pull-right pad-left">
							<button class="btn btn-danger btn-sm" ng-click="trackersCtrl.remove(tracker)"
								data-ng-class="tracker.owner._id == trackersCtrl.authentication.user._id ? '' : 'disabled'">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</span>
						<span class="pull-right pad-left">
							<button class="btn btn-warning btn-sm" ng-click="trackersCtrl.modalUpdate('lg', tracker)"
								data-ng-class="tracker.owner._id == trackersCtrl.authentication.user._id ? '' : 'disabled'">
								<i class="glyphicon glyphicon-edit"></i>
							</button>
						</span>
						<span class="pull-right pad-left">
							<button class="btn btn-info btn-sm" ng-click="trackersCtrl.loadVaults(tracker._id)">
								<i class="glyphicon glyphicon-piggy-bank"></i>
							</button>
						</span>
						<span class="pull-right pad-left">
							<button class="btn btn-primary btn-sm" ng-click="trackersCtrl.loadIncexps(tracker._id)">
								<i class="glyphicon glyphicon-play"></i>
							</button>
						</span>

					</small>
				</div>
			</div>
		</a>
	</div>
</div>
<div class="alert alert-warning text-center"
	data-ng-hide="!trackers.$resolved || trackers.length">
	No trackers yet, why don't you <a href="/#!/trackers/create">create
		one</a>?
</div>
