<div class="list-group">
	<div class="col-xs-12 pad-top">

        <br/><br/>

        <table class="table table-striped table-hover1 table-condensed">
            <tr>
                <th>#</th>
                <th><i class="fa fa-info-circle"></i></th>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Vault</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            <tr data-ng-repeat="incexp in incexpCtrl.trackerIncexps | filter:searchText">
                <td scope="row">{{$index+1}}</td>
                <td>
                    <span class="fa info-icon" data-ng-class="cl" tooltip="{{cl}}"
                          data-ng-repeat="cl in incexpCtrl.getInfoIconClasses(incexp, $index)" >
                    </span>
                </td>
                <td>
                	<span data-tooltip="{{incexp.displayName}}">
                		{{incexp.displayName.length < 10 ? incexp.displayName : incexp.displayName.substr(0,10)+'...' }}
                	</span>
                </td>
                <td>
                	<span>
                		{{incexp.evDate}}
                	</span>
                </td>
                <td>
                	<span>
                		{{incexp.amount}}
                	</span>
                </td>
                <td>
                	<span>
                		{{incexp.vault.displayName}}
                	</span>
                </td>
                <td>
					<span data-tooltip="{{incexp.description}}">
                		{{incexp.description.length < 10 ? incexp.description : incexp.description.substr(0,10)+'...' }}
                	</span>
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" 
                    		data-ng-click="incexpCtrl.remove(incexp)"
                    		data-ng-disabled="! incexpCtrl.canDelete(incexp)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-warning btn-xs" 
                    		data-ng-click="incexpCtrl.editIncexp(incexp)"
                    		data-ng-disabled="! incexpCtrl.canEdit(incexp)">
                        <i class="fa fa-pencil"></i>
                    </button>
 					<button class="btn btn-info btn-xs" 
                    		data-ng-click="! incexpCtrl.requestForEdit(incexp)"
                    		data-ng-disabled="! incexpCtrl.canRequestEditAccess(incexp)">
                        <i class="fa fa-question-circle"></i>
                    </button> 
                </td>
            </tr>
        </table>
	</div>
</div>
<div class="alert alert-warning text-center"
	data-ng-hide="!trackerIncExps.$resolved || trackerIncExps.length">
	No incexps yet, why don't you <a href="/#!/trackers/create">create
		one</a>?
</div>
