<div class="list-group">
	<div class="col-xs-12 pad-top">


        <table class="table table-striped table-hover table-condensed incexp-row-item">
            <tr>
                <th>{{incexpsCtrl.labelsObj['app.incexps.lbl.slNo']}}</th>
                <th><i class="fa fa-cogs" data-tooltip="{{incexpsCtrl.labelsObj['app.incexps.tt.incexpInfo']}}"></i></th>
                <th>{{incexpsCtrl.labelsObj['app.incexps.lbl.date']}}</th>
                <th>{{incexpsCtrl.labelsObj['app.incexps.lbl.name']}}</th>
                <th>{{incexpsCtrl.labelsObj['app.incexps.lbl.amount']}}</th>
                <th>{{incexpsCtrl.labelsObj['app.incexps.lbl.vault']}}</th>
                <th>{{incexpsCtrl.labelsObj['app.incexps.lbl.desc']}}</th>
                <th>{{incexpsCtrl.labelsObj['app.incexps.lbl.action']}}</th>
            </tr>
            <tr data-ng-repeat-start="incexp in incexpsCtrl.trackerIncexps | filter:searchText"
                data-ng-click="incexpsCtrl.expandRow(incexp)"
                    data-ng-class="(incexp.isPending ? (incexp.pendingWith._id === incexpsCtrl.authentication.user._id ? 'danger' : 'warning') : '')">
                <td scope="row">{{$index+1}}</td>
                <td>
                    <span class="fa" data-ng-class="item.clazz" data-tooltip="{{item.tooltip}}"
                          data-ng-repeat="item in incexp.infoAlerts" >
                    </span>
                </td>
                <td>
                	<span>
                        {{incexp.evDate | amDateFormat:'MMMM Do YYYY'}}
                	</span>
                </td>
                <td>
                	<span>
                		{{incexp.displayName.length < 10 ? incexp.displayName : incexp.displayName.substr(0,10)+'...' }}
                	</span>
                </td>
                <td>
                	<span>
                		<span class="fa" data-ng-class="incexp.currencyObj.faIconCls"> {{incexp.amount}}</span>
                	</span>
                </td>
                <td>
                	<span>
                        {{incexp.vault.displayName.length < 10 ? incexp.vault.displayName : incexp.vault.displayName.substr(0,10)+'...' }}
                	</span>
                </td>
                <td>
					<span>
                		{{incexp.description.length < 10 ? incexp.description : incexp.description.substr(0,10)+'...' }}
                	</span>
                </td>
                <td>
                    <button class="btn btn-danger btn-xs"
                            data-tooltip="{{incexpsCtrl.labelsObj['app.incexps.lbl.deleteIncexp']}}"
                    		data-ng-click="incexpsCtrl.remove(incexp)"
                    		data-ng-show="incexpsCtrl.canDelete(incexp)">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-warning btn-xs"
                            data-tooltip="{{incexpsCtrl.labelsObj['app.incexps.lbl.updateIncexp']}}"
                    		data-ng-click="incexpsCtrl.editIncexp(incexp)"
                    		data-ng-show="incexpsCtrl.canEdit(incexp)">
                        <i class="fa fa-pencil"></i>
                    </button>
 					<button class="btn btn-info btn-xs"
                            data-tooltip="{{incexpsCtrl.labelsObj['app.incexps.lbl.reqEditAccess']}}"
                    		data-ng-click="! incexpsCtrl.requestForEdit(incexp)"
                    		data-ng-show="incexpsCtrl.canRequestEditAccess(incexp)">
                        <i class="fa fa-question-circle"></i>
                    </button>
                    <button class="btn btn-success btn-xs"
                            data-tooltip="{{incexpsCtrl.labelsObj['app.incexps.lbl.approveEditAccess']}}"
                            data-ng-click="incexpsCtrl.approveEditAccessRequest(incexp)"
                            data-ng-show="incexpsCtrl.canApproveEditRequest(incexp)">
                        <i class="fa fa-unlock"></i>
                    </button>
                    <button class="btn btn-danger btn-xs"
                            data-tooltip="{{incexpsCtrl.labelsObj['app.incexps.lbl.rejectEditAccess']}}"
                            data-ng-click="incexpsCtrl.rejectEditAccessRequest(incexp)"
                            data-ng-show="incexpsCtrl.canApproveEditRequest(incexp)">
                        <i class="fa fa-lock"></i>
                    </button>
                </td>
            </tr>
            <tr data-ng-class="(incexp.isPending ? (incexp.pendingWith._id === incexpsCtrl.authentication.user._id ? 'danger' : 'warning') : '')"
                data-ng-repeat-end style="padding: 0 !important; border: 0 !important">
                <td colspan="8" style="padding: 0 !important;">
                    <div data-collapse="incexp.collapsed">
                    	<br/>
<!--                         <span class="fa fa-money"> </span> -->
                        <strong>{{incexpsCtrl.labelsObj['app.incexps.lbl.nameLbl']}}</strong>{{incexp.displayName}}
                        <br/>
                        <strong>{{incexpsCtrl.labelsObj['app.incexps.lbl.descLbl']}}</strong>{{incexp.description}}
                        <br/>
                        <strong>{{incexpsCtrl.labelsObj['app.incexps.lbl.dateLbl']}}</strong><span data-am-time-ago="incexp.evDate"></span>    (<span>{{incexp.evDate | amDateFormat:'dddd, MMMM Do YYYY'}}</span>)
                        Vault : {{incexp.vault.displayName}}
                        <br/>                        
                        <strong>{{incexpsCtrl.labelsObj['app.incexps.lbl.amountLbl']}}</strong><span class="fa" data-ng-class="incexp.currencyObj.faIconCls"> {{incexp.amount}}</span>
                        <br/>
                        <strong>{{incexpsCtrl.labelsObj['app.incexps.lbl.vaultLbl']}}</strong>{{incexp.vault.displayName}}
                        <br/>
                        <strong>{{incexpsCtrl.labelsObj['app.incexps.lbl.tagsLbl']}}</strong>
                        <span class="fa fa-tags" data-ng-repeat="tag in incexp.tags" style="color:{{tag.color}}">{{tag.label}}</span>
                        <br/>
                        <span>
                        	<strong>{{incexpsCtrl.labelsObj['app.incexps.lbl.createdBy']}}</strong>{{incexp.owner.displayName}}
                        </span>
                        <br/>
                        <span data-ng-if="incexp.isPending">
                        	<strong>{{incexpsCtrl.labelsObj['app.incexps.lbl.pendingWithLbl']}}</strong>{{incexp.pendingWith.displayName}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <strong>{{incexpsCtrl.labelsObj['app.incexps.lbl.pendingMsgLbl']}}</strong>{{incexp.pendingMsg}}
                        </span>
                    </div>
                </td>
            </tr>
        </table>
	</div>
</div>
