<div class="form-group-sm">
    <label class="control-label" for="isPending"> {{label}}</label>

    <div class="controls">
        <!--TODO - apply proper styling-->
        <div class="input-group">
        <span class="input-group-addon">
        <input class="form-control-md" type="checkbox"
               data-ng-disabled="applyDisableForPendingCheckbox()"
               data-ng-model="isPending" id="isPending"/>
        </span>
        <span class="input-group-btn">
        <select data-ng-model="pendingType" id="pendingType"
                class="form-control"
                data-ng-options="approvalType.id as approvalType.label for approvalType in approvalTypes"
                data-ng-disabled="applyDisablePendingFields(isPending)">
            <option value="">{{pendingTypeDefaultLabel}}</option>
        </select>
        </span>
        <span class="input-group-btn">
        <select-users user="pendingWith"
                      data-ng-disabled="applyDisablePendingFields(isPending)" ></select-users>
                        <!--data-placeholder="selectUserPlaceholder"-->
        </span>
        </div>
        <br/>
        <textarea placeholder="{{pendingMsgPlaceholder}}"
                  class="form-control"
                  data-ng-disabled="applyDisablePendingFields(isPending)"
                  data-ng-model="pendingMsg"
                  id="pendingMsg" class="form-control"></textarea>
    </div>
</div>
