<section data-ng-controller="VaultsController as vaultsCtrl">
    <div class="page-header">
        <h3>{{vaultsCtrl.labelsObj['app.vaults.lbl.newVault']}}</h3>
    </div>
    <form name="createVaultForm" data-ng-submit="vaultsCtrl.saveVault()" novalidate>
        <fieldset>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="displayName"> {{vaultsCtrl.labelsObj['app.vaults.lbl.vaultName']}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="vaultsCtrl.displayName" name="displayName" id="displayName" class="form-control"
                                   placeholder="{{vaultsCtrl.labelsObj['app.vaults.ph.vaultName']}}"
                                   data-ng-minlength="6" data-ng-maxlength="50" required/>
                            <div data-ng-if="createVaultForm.displayName.$invalid && createVaultForm.displayName.$dirty"
                                 data-data-ng-messages="createVaultForm.displayName.$error">
                                <span data-ng-if="createVaultForm.displayName.$error.required"
                                      class="label label-warning" data-ng-message="required">
                                    {{vaultsCtrl.labelsObj['app.vaults.err.msg.inputVaultName']}}
                                </span>
                                <span data-ng-if="createVaultForm.displayName.$error.minlength || createVaultForm.displayName.$error.maxlength"
                                      class="label label-warning" data-ng-message="minlength, maxlength">
                                    {{vaultsCtrl.labelsObj['app.vaults.err.msg.minMaxLengthVaultName']}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="description"> {{vaultsCtrl.labelsObj['app.vaults.lbl.vaultDesc']}}</label>
                        <div class="controls">
                            <input type="text" data-ng-model="vaultsCtrl.description" id="description" class="form-control" name="description"
                                   placeholder="{{vaultsCtrl.labelsObj['app.vaults.ph.vaultDesc']}}"
                                   data-ng-minlength="6" data-ng-maxlength="100" required/>
                            <div data-ng-if="createVaultForm.description.$invalid && createVaultForm.description.$dirty"
                                 data-data-ng-messages="createVaultForm.description.$error">
                                <span data-ng-if="createVaultForm.description.$error.required"
                                      class="label label-warning" data-ng-message="required">
                                    {{vaultsCtrl.labelsObj['app.vaults.err.msg.inputVaultDesc']}}
                                </span>
                                <span data-ng-if="createVaultForm.description.$error.minlength || createVaultForm.description.$error.maxlength"
                                      class="label label-warning" data-ng-message="minlength, maxlength">
                                    {{vaultsCtrl.labelsObj['app.vaults.err.msg.minMaxLengthVaultDesc']}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-sm"
                        data-ng-disabled="createVaultForm.$invalid">{{vaultsCtrl.labelsObj['app.vaults.lbl.newVault']}}</button>
                <button class="btn btn-warning btn-sm" data-ng-click="vaultsCtrl.cancel()">Cancel</button>
            </div>
        </fieldset>
    </form>
</section>
